body {
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}

.top {
    margin: 0 auto;
    text-align: center;
}

#chart {
    display: inline-block;
}


@media all and (orientation:portrait) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}

@media all and (orientation:landscape) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}


.tradingwrapper {
    font-weight: bold;
    margin: auto auto;
}

#loadingtext {
    font-size: 36px;
}

.postlink { 
    transition: all .2s; 
    border: 2px solid gray;
    text-decoration: none;
}

.postlink:hover { 
    font-size: 32px; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

div.loader {
    animation-name:            rotate; 
    animation-duration:        120.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 0 auto;
}
