body {
    font: sans-serif;
    margin: 0 auto;
}

.top {
    font: sans-serif;
    margin: 0 auto;
    text-align: center;
}


@media all and (orientation:portrait) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}

@media all and (orientation:landscape) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}


.tradingwrapper {
    margin: auto auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

div.loader {
    animation-name:            rotate; 
    animation-duration:        4.0s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 0 auto;
}
